*{
  box-sizing: border-box;
}
/***********home page css**********/
#home{
  background-color: #F2F1E8;
  padding: 25px 0 0 0;
  margin: 0;
  width: 100%;
}

header{
  text-align: center;
  width: 100%;
}


nav{
  background-color: #FFF;
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
}

.images{
  display: flex;
  flex-flow: row wrap;
}

.endless{
  background-image: url("images/optimized/product-1.jpg");
  width: 57.165231%;
  height: 370px;
  background-size: cover;
  margin-right: 16px;
  margin-bottom: 16px;
  margin-left: 20px;
}

.sets{
  background-image: url("images/optimized/product-2.jpg");
  width: 18.402506%;
  height: 370px;
  background-size: cover;
  margin-right: 16px;
}

.textures{
  background-image: url("images/optimized/product-3.jpg");
  width: 18.402506%;
  height: 370px;
  background-size: cover;
}

.tea{
  background-image: url("images/optimized/product-4.jpg");
  width: 18.245889%;
  height: 240px;
  background-size: cover;
  margin-left: 20px;
}

.jars{
  background-image: url("images/optimized/product-5.jpg");
  width: 18.245889%;
  height: 240px;
  background-size: cover;
  margin-left: 16px;
  margin-right: 16px;
}

.wasabi{
  background-image: url("images/optimized/product-6.jpg");
  width: 37.97964%;
  height: 240px;
  background-size: cover;
  margin-right: 16px;
}

.sip{
  background-image: url("images/optimized/product-7.jpg");
  width: 18.245889%;
  height: 240px;
  background-size: cover;
}

ul{
  margin: 30px 0;
}

#logo{
  width: 45px;
  height: 45px;
  display: flex;
  margin-top: 15px;
  margin-left: 20px;
  margin-right: 0;
  float: left;
}

li{
  display: inline-block;
  list-style: none;
  font-size: 14px;
  justify-content: space-between;
}

nav a{
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  display: inline-block;
  text-align: center;
  color: #2B2F26;
  margin: 0 32px;
}

nav a:visited{
  color: #968772;
}

nav a:hover{
  color: #CD5D67;
}

h1{
  margin-top: 135px;
  font-size: 50px;
  font-family: 'Merriweather', serif;
  font-weight: 400;
}

h2{
  font-size: 30px;
  font-family: 'Merriweather', serif;
  font-weight: 300;
}

footer{
  background-color: rgb(43, 47, 38);
  height: 100px;
  margin-top: 25px;
  color: rgb(242, 241, 232);
  padding-top: 36px;
}

footer p{
  text-align: left;
  margin: 0 30px;
}

/***********about page css**********/

#about{
  background-color: #F2F1E8;
  margin: 0;
  width: 100%;
}

.aboutnav{
  margin-left: 0;
  position: fixed;
  width: 100%;
}

.aboutheader{
  width: 100%;
}

.art{
  text-align: center;
}

#birdhouse{
  width: 160px;
  height: 120px;
  background-size: cover;
  float: left;
  margin-bottom: 40px;
  margin-right: 30px;
}

.firstpara{
  margin-left: 210px;
  width: 66.562255%;
}

p a{
  color: #968772;
}

blockquote{
  border-left: 1px solid rgb(150, 135, 115);
  padding-left: 30px;
  margin: 0;
  font-size: 15px;
  font-style: italic;
  text-align: left;
}

.secondpara{
  margin-left: 210px;
  width: 66.562255%;
  margin-bottom: 70px;
}

.hist{
  font-weight: 300;
}
.roomtogrow{
  text-align: center;
}

.grow{
  margin: -175px;
  margin-bottom: 155px;
  font-size: 50px;
  color: #F2F1E8;
}

#growimg{
  height: 320px;
  min-width: 100%;
  object-fit: cover;

}

.lastpara{
  margin-left: 210px;
}

.fac{
  font-weight: 300;
}

.month{
  font-weight: 300;
}

.table{
  margin-left: 210px;
}

table{
  border-collapse: collapse;
}

th{
    border: 1px solid #000;
    padding: 18px;
}

.desk{
  background-color: rgb(242, 234, 221);
}

.unlimited{
  background-color: rgb(242, 234, 221);
}

aside{
  display: flex;
  flex-flow: column;
}

#pots{
  width: 160px;
  height: 120px;
  object-fit: cover;
}

td{
  border: 1px solid #000;
  border-spacing: 0px;
  padding: 18px;
}
